{% extends "bolsa/templates/application-wide.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block title %}SEÇÃO UM: Você e Sua Família{% endblock %}

{% block body %}

{% load form_elements %}

<div id="form_container">
    <div class="form_description">
        <p>O primeiro passo é fornecer informações básicas. Favor preencher os espaços que dizem respeito a você.</p>
    </div>
    


    <form id="dataform" class="appnitro"  method="post" action="">		
        <ul>			
            <li class="section_break">
                <h2>Informações Pessoais</h2>
            </li>
            
            {% text_input form 'last_name' %}
            
            {% text_input form 'first_name' %}
            
            {% text_input form 'middle_name' %}
            
            <li>
                {{ form.gender.label_tag }}
                <span class="radio choices">
                    <input id="gender_male" name="gender" type="radio" value="M"{% ifequal form.gender.data "M" %}checked="checked"{% endifequal %}/>
                    <label for="gender_male">M</label>
                    <input id="gender_female" name="gender" type="radio" value="F"{% ifequal form.gender.data "F" %} checked="checked"{% endifequal %}/>
                    <label for="gender_female">F</label>
                </span> 
            </li>
            
            {% calendar_input form 'birthdate' birthdate %}
            
            <li {% if form.errors.city or form.errors.state %} class="error"{% endif %}>
                <label class="description">Endereço residencial</label>	
                <div class="text large">
                    {{ form.address }}
                    {{ form.address.label_tag }}
                </div>
                <div class="text large">
                    {{ form.address2 }}
                    {{ form.address2.label_tag }}
                </div>
                <div>
                    <div class="left text medium">
                        {{ form.city }}
                        {% if form.city.field.required %}<span class="required">*</span>{% endif %}
                        {{ form.city.label_tag }}
                    </div>
                    <div class="right text medium">
                        {{ form.state }}
                        {% if form.state.field.required %}<span class="required">*</span>{% endif %}
                        {{ form.state.label_tag }}
                    </div>
                </div>
                <div class="left text medium">
                    {{ form.zip_code }}
                    {{ form.zip_code.label_tag }}
                </div>
                <div class="right select medium">
                    {{ form.country }}
                    {{ form.country.label_tag }}
                </div>
                <div class="guidelines" id="address_guide">
                    <div>
                        {{ form.city.help_text }}
                        {% if form.errors.city %}
                            {{ form.city.label_tag }}
                            {{ form.errors.city }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.state.help_text }}
                        {% if form.errors.state %}
                            {{ form.state.label_tag }}
                            {{ form.errors.state }}
                        {% endif %}
                    </div>
                </div>
            </li>
            
            {% text_input form 'email' %}
            
            {% text_input form 'email2' %}
            
            {% text_input form 'home_telephone' %}
            
            {% text_input form 'business_telephone' %}
            
            <li class="section_break">
                <h2>Informações Familiares</h2>
            </li>
            
            <li{% if form.errors.married %} class="error"{% endif %}>
                {{ form.married.label_tag }}
                {% if form.married.field.required %}<span class="required">*</span>{% endif %}
                <span class="radio choices">
                    <input id="married_yes" name="married" type="radio" value="1"{% ifequal form.married.data "1" %}checked="checked"{% endifequal %} />
                    <label class="choice" for="married_yes">Solteiro</label>
                    <input id="married_no" name="married" type="radio" value="0"{% ifequal form.married.data "0" %} checked="checked"{% endifequal %} />
                    <label class="choice" for="married_no">Casado</label>
                </span> 
            </li>
            
            
            <li{% if form.errors.head_of_household %} class="error"{% endif %}>
                {{ form.head_of_household.label_tag }}
                {% if form.head_of_household.field.required %}<span class="required">*</span>{% endif %}
                <span class="radio choices">
                    <input id="head_of_household_yes" name="head_of_household" type="radio" value="1"{% ifequal form.head_of_household.data "1" %}checked="checked"{% endifequal %} />
                    <label class="choice" for="head_of_household_yes">Sim</label>
                    <input id="head_of_household_no" name="head_of_household" type="radio" value="0"{% ifequal form.head_of_household.data "0" %}checked="checked"{% endifequal %} />
                    <label class="choice" for="head_of_household_no">Não</label>
                </span> 
            </li>
            
            {% text_input form 'number_of_children' 'small' %}
            
            <li class="section_break">
                <h2>Informações de Emergência</h2>
            </li>
            
            {% text_input form 'emergency_name' 'large' %}
            
            {% text_input form 'emergency_email' %}
            
            {% text_input form 'emergency_phone' %}
            
            <li class="buttons">
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Próxima página" />
            </li>
        </ul>
    </form>
</div>
{% disable_on_submit %}
{% endblock %}
