{% extends "bolsa/templates/application-wide.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block title %}SEÇÃO DOIS: Seu Plano de Carreira, Estudo e Passar{% endblock %}

{% block body %}

{% load form_elements %}

<div id="form_container">
    <div class="form_description">
        <p>Nesta seção você descreverá seu plano. Qual curso e estabelecimento vai escolher? Por que você precisa de uma bolsa?  Como pretende passar adiante o Incentivo recebido?  </p>
    </div>	
    
    
    <form id="applicantfuture" class="appnitro"  method="post" action="">				
        <ul>
        
            <li class="section_break">
                <h2>Informações a respeito do Serviço na Igreja</h2>
            </li>
            
            {% text_input form 'church_calling' 'large' %}
            
            {% text_input form 'other_church_calling' 'large' %}
            
            {% text_input form 'mission' 'large' %}
            
            {% calendar_input form 'mission_start_date' mission_start_date %}
            
            {% calendar_input form 'mission_end_date' mission_end_date %}
            
            <li class="section_break">
                <h2>Cursos de Preparação Obrigatórios</h2>
            </li>
            
            <li class="section_break">
                <h3>Curso CASP (SRE)</h3>
            </li>
            
            {% calendar_input form 'casp_date' casp_date %}
            
            {% text_input form 'casp_instructor_name' %}
            
            {% text_input form 'casp_instructor_phone' %}
            
            <li class="section_break">
                <h3>Planejar Para o Sucesso (SEI)</h3>
                <p></p>
            </li>
            
            {% calendar_input form 'sei_date' sei_date %}
            
            {% text_input form 'sei_instructor_name' %}
            
            {% text_input form 'sei_instructor_phone' %}
            
            <li class="section_break">
                <h3>Meu Emprego Atual</h3>
                <p></p>
            </li>
            
            {% text_input form 'employer' 'large' %}
            
            {% text_input form 'salary' 'small' %}
            
            <li{% if form.errors.spouse_employed %} class="error"{% endif %}>
                {{ form.spouse_employed.label_tag }}
                {% if form.spouse_employed.field.required %}<span class="required">*</span>{% endif %}
                <span class="radio choices">
                    <input id="spouse_employed_yes" name="spouse_employed" type="radio" value="1"{% ifequal form.spouse_employed.data "1" %}checked="checked"{% endifequal %} />
                    <label class="choice" for="spouse_employed_yes">Sim</label>
                    <input id="spouse_employed_no" name="spouse_employed" type="radio" value="0"{% ifequal form.spouse_employed.data "0" %}checked="checked"{% endifequal %} />
                    <label class="choice" for="spouse_employed_no">Não</label>
                </span>
            </li>
            
            {% text_input form 'spouse_employer' 'large' %}
            

            {% text_input form 'spouse_salary' 'small' %}
        
            <li class="buttons">
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Próxima página" />
            </li>
        </ul>
    </form>	
</div>
{% endblock %}
