{% extends "bolsa/templates/application-wide.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block title %}SE&Ccedil;&Atilde;O TR&Ecirc;S: Seu Plano de Carreira, Estudo e Passar{% endblock %}

{% block body %}

{% load form_elements %}

<div id="form_container">
    <div class="form_description">
        <p>Nesta se&ccedil;&atilde;o voc&ecirc; descrever&aacute; seu plano. Qual curso e estabelecimento vai escolher? Por
que voc&ecirc; precisa de uma bolsa? Como pretende passar adiante o Incentivo recebido?</p>
    </div>	
    
    <form id="dataform" class="appnitro"  method="post" action="">				
        <ul>
            <li class="section_break">
                <h2>Meu Futuro Emprego</h2>
            </li>
            
            {% text_input form 'future_employer' 'large' %}
            
            {% text_input form 'future_salary' 'large' %}
            
            <li{% if form.errors.reason %} class="error"{% endif %}>
                {{ form.reason.label_tag }}
                {% if form.reason.field.required %}<span class="required">*</span>{% endif %}
                <div class="textarea medium">
                    {{ form.reason }}
                </div>
                <div class="guidelines" id="reason_guide">{{ form.reason.help_text }}</div> 
            </li>
            
            <li class="section_break">
                <h2>Reda&ccedil;&otilde;es</h2>
            </li>
            
            <li{% if form.errors.essay_plan %} class="error"{% endif %}>
                <h3>Reda&ccedil;&atilde;o 1{% if form.essay_plan.field.required %}<span class="required"> *</span>{% endif %}</h3>
                {{ form.essay_plan.label_tag }}
                <div class="textarea medium">
                    {{ form.essay_plan }}
                </div>
                <div class="guidelines" id="essay_plan_guide">{{ form.essay_plan.help_text }}</div> 
            </li>
            
            <li{% if form.errors.essay_reason %} class="error"{% endif %}>
                <h3>Reda&ccedil;&atilde;o 2{% if form.essay_reason.field.required %}<span class="required"> *</span>{% endif %}</h3>
                {{ form.essay_reason.label_tag }}
                <div class="textarea medium">
                    {{ form.essay_reason }}
                </div>
                <div class="guidelines" id="essay_reason_guide">{{ form.essay_reason.help_text }}</div> 
            </li>
            <li{% if form.errors.essay_next %} class="error"{% endif %}>
                <h3>Reda&ccedil;&atilde;o 3{% if form.essay_next.field.required %}<span class="required"> *</span>{% endif %}</h3>
                {{ form.essay_next.label_tag }}
                <div class="textarea medium">
                    {{ form.essay_next }}
                </div>
                <div class="guidelines" id="essay_next_guide">{{ form.essay_next.help_text }}</div> 
            </li>
        
            <li class="buttons">
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Pr&oacute;xima p&aacute;gina" />
            </li>
        </ul>
    </form>	
</div>
{% disable_on_submit %}
{% endblock %}
