{% extends "bolsa/templates/application-wide.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block title %}SEÇÃO QUATRO: Informação do Estabelecimento de Ensin{% endblock %}

{% block body %}

{% load form_elements %}

<div id="form_container">
    <div class="form_description">
        <p>Estabelecimento de Ensino de sua escolha (precisará falar com alguém do estabelecimento para obter informação sobre o custo do curso) </p>
    </div>	
    <form id="applicantschool" class="appnitro"  method="post" action="">
        <ul>
        
            {% text_input form 'school_name' %}
            
            {% text_input form 'program_name' %}
            
            {% text_input form 'program_duration' 'small' %}
            
            {% calendar_input form 'program_start_date' program_start_date %}
            
            {% text_input form 'program_cost' 'small' %}
            
            {% text_input form 'program_city' %}
            
            <li{% if form.errors.pay_half %} class="error"{% endif %}>
                {{ form.pay_half.label_tag }}
                {% if form.pay_half.field.required %}<span class="required">*</span>{% endif %}
                <span class="radio choices">
                    <input id="pay_half_yes" name="pay_half" type="radio" value="1"{% ifequal form.pay_half.data "1" %}checked="checked"{% endifequal %} />
                    <label class="choice" for="pay_half_yes">Sim</label>
                    <input id="pay_half_no" name="pay_half" type="radio" value="0"{% ifequal form.pay_half.data "0" or not form.pay_half.data %}checked="checked"{% endifequal %} />
                    <label class="choice" for="pay_half_no">Não</label>
                </span> 
            </li>		
            
            <li{% if form.errors.program_url %} class="error"{% endif %}>
                {{ form.program_url.label_tag }}
                <div class="text large">
                    {{ form.program_url }}
                    {% if form.program_url.field.required %}<span class="required">*</span>{% endif %}
                </div> 
            </li>
            
            <li class="buttons">
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Próxima página" />
            </li>
        </ul>
    </form>	
</div>
{% endblock %}
