{% extends "bolsa/templates/application-wide.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block title %}SEÇÃO QUATRO: Seu Compromisso Pessoal e a Aprovação do Líder{% endblock %}

{% block body %}

{% load form_elements %}

<div id="form_container">
    <div class="form_description">
        <p>Está determinado a obter sucesso? Assuma compromisso pessoal e fale com seus líderes do sacerdócio. <b>O candidato é pessoalmente responsável pelo pagamento das despesas pessoais e as despesas relacionadas ao curso; portanto… </b></p>
        <ul>
            <li>O candidato primeiramente usará seu próprio dinheiro, proveniente do seu trabalho, e de economias da sua família enquanto estiver na escola.</li>
            <li>O candidato usará outros programas locais disponíveis para pagar seus estudos, inclusive programas de estudo-trabalho, subsídios e bolsas de estudo, empréstimos educativos ou programas de reembolso educacional.</li>
            <li>SE o seu próprio dinheiro e os outros recursos não forem suficientes, o candidato poderá solicitar a ajuda da Bolsa Incentivo</li>
            <li>O candidato solicitará a menor quantia possível a fim de permitir que outros também sejam beneficiados.</li>
        </ul>
    </div>
    <form id="dataform" class="appnitro"  method="post" action="">
        <ul>
            <li class="section_break">
                <h2>Compromisso Pessoal</h2>
                <p>Você agora se compromete a cumprir todas as suas obrigações, incluindo as seguintes. Favor marcar cada compromisso e assinar abaixo. </p>
            </li>
            
            {% if form.errors.commitment_moving_foward or form.errors.commitment_own_money or form.errors.commitment_good_student or form.errors.commitment_faith %}
            <li class="error">
                <div>
                Por favor lea e marque cada compromisso para poder prosseguir. Caso não esteja disposto a aceitar o compromisso, feche a janela do seu browser
                </div>
            </li>
            {% endif %}
            
            {% check_input form 'commitment_moving_foward' %}
            
            {% check_input form 'commitment_own_money' %}
            
            {% check_input form 'commitment_good_student' %}
            
            {% check_input form 'commitment_faith' %}
            
            {% text_input form 'signature' %}
            
            {% calendar_input form 'date' date %}
            
            <li class="section_break">
                <h2>Informação dos Líderes do Sacerdócio</h2>
            </li>
            
            {% text_input form 'ward' %}
            
            {% text_input form 'bishop_name' %}
            
            {% text_input form 'bishop_phone' %}

            <li{% if form.errors.additional_comments %} class="error"{% endif %}>
                {{ form.additional_comments.label_tag }}
                <div class="textarea medium">
                    {{ form.additional_comments }}
                </div>
            </li>
            
            <li class="buttons">
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Próxima página" />
            </li>
        </ul>
    </form>	
</div>
{% disable_on_submit %}
{% endblock %}
