{% extends "bolsa/templates/application-wide.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block title %}Bolsa de Estudos Incentivo Contrato{% endblock %}

{% block body %}
<div>
A Incentivo agradece o seu interesse no programa Bolsa de Estudo. Entre os próximos minutos você estará
recebendo um E-mail* confirmando o recebimento do seu formulário e explicando o processo daqui para a
frente. Dentro do mesmo você receberá um número de identificação (id), este E-mail e id devem ser guardados
para possível uso futuro. Mais uma vez agradecemos o seu interesse e lhe desejamos sucesso. Relembramos que
você deve acessar o seu E-mail com freqüência para saber sobre o andamento de sua solicitação.
</div>
<div>
    <div>* ATENÇÃO USUÁRIOS DE HOTMAIL:</div>
    <div>
        Para combater o lixo eletrônico, o Hotmail recentemente elevou o nível do
        seu filtro para lixo eletrôn ico. Isto pode fazer com que os emails da Incentivo
        sejam entregues à pasta de lixo eletrônico ou automaticamente deletados.
    </div>
    
    <div>
        Usuários de uma conta de Hotmail devem adicionar o endereço @incentivo.org.br
        à sua lista de “Remetentes confiáveis” para que os emails da organização não
        sejam considerados lixo electrônico. Para adicionar este endereço à Lista
        Segura, segue os passos a seguir:
    </div>
    
    <div>
        <h4>Versão completa</h4>
        <ol>
            <li>
                Na página inicial do seu correio, faz um clique em “opções” e
                escolha “mais opções”. (no canto superior do lado direito)
            </li>
            <li>
                Clique em “Remetentes confiáveis e bloqueados” abaixo da seção “Lixo Eletrônico”
            </li>
            <li>
                Seleciona “Remetentes confiáveis” (a primeira opção da página)
            </li>
            <li>
                No campo, insere um dos endereços da Incentivo ou simplesemente @incentivo.org.br e clique “Adicionar à Lista”
            </li>
        </ol>
        
        <h4>Versão Clássica</h4>
        <ol>
            <li>Na página inicial, faz um clique em “opções”. (no canto superior do lado direito)</li>
            <li>Clique em “Contatos” no lado esquerdo</li>
            <li>Clique em “Lista Segura” (a penúltima opção da página)</li>
            <li>No campo, insere um dos endereços da Incentivo ou simplesemente @incentivo.org.br e clique “Adicionar”</li>
            <li>Além dos problemas de lixo eletrônico, frequentemente surgem problemas de ortografia nos emails
                 recebidos nas contas do Hotma il. Devido à frequencia desses problemas, sugerimos que utilize outra conta de email
                 (@gmail, @yahoo, etc...) para receber tranquilamente os emails da Incentivo.
            </li>
        </ol>
    </div>
</div>
{% endblock %}
