<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Associa&ccedil;&atilde;o Brasileira Incentivo - {{ flatpage.title }}</title>
    <link media="screen" type="text/css" rel="stylesheet" href="/resources/css/homepage.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="/resources/css/diagram.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="/resources/css/view.css"/>
    <script type="text/javascript" src="/resources/scripts/hover.js"></script>
    <script type="text/javascript" src="/resources/scripts/view.js"></script>
    <script type="text/javascript" src="/resources/scripts/calendar.js"></script>
    <!--
	<script type="text/javascript" src="/resources/scripts/scriptaculous/lib/prototype.js"></script>
    <script type="text/javascript" src="/resources/scripts/scriptaculous/src/scriptaculous.js"></script>
    <script type="text/javascript" src="/resources/scripts/jsvalidate.js"></script>
-->
</head>

<body id="{% block page %}home{% endblock%}">
        
    <div id="banner">
        <div id="nav-global-container">
            <ul id="nav-global">
                <li id="nav-contact"><a href="/contact/">Contato</a></li><li>|</li>
                <!--<li id="nav-history"><a href="/historia/">Histori&aacute;</a></li><li>|</li>-->
                <li id="nav-background"><a href="/quem-somos/">Quem somos</a></li><li>|</li>
                <li id="nav-home"><a href="/home/">Home</a></li>
            </ul>
        </div>
    </div>

    <div id="container">
        
        <div id="header">
            
            <h1 id="logo"><a href="/home/"><img alt="Incentivo" src="/resources/images/title.gif"/></a></h1>
            
            <div id="nav-sub-container">
                <ul id="nav-sub">
                <li id="first"><div>Programas</div>
                    <ul>
                    <li><a href="/bolsa-de-estudo/">Bolsa de Estudo</a></li>
                    <li><a href="/financas-pessoais/">Finan&ccedil;as Pessoais</a></li>
                    <li><a href="/preparacao-para-mba/">Prepara&ccedil;&atilde;o para MBA</a></li>
                    </ul>
                </li>
                <li><div>Filosofia</div>
                    <ul>
                    <li><a href="">Passar adiante</a></li>
                    <li><a href="">Hist&oacute;ria de successo</a></li>
                    <li><a href="">Volunt&aacute;rios</a></li>
                    </ul>
                </li>
                <!--
                <li id="last"><div>Forums</div>
                    <ul>
                    <li><a href="">Bolsa</a></li>
                    <li><a href="">Financas</a></li>
                    <li><a href="">MBA</a></li>
                    </ul>
                </li>
                -->
                </ul>
            </div>
        </div>
        
        <div id="billboard"><h2>Incentivo</h2></div>
        
            <div id="content-wide">
                <h1>
                {% block title %}{% endblock %}
                </h1>
                {% block body %}{% endblock %}
            </div>
        
        <div id="footer">
            <p>
                &copy; 2005-2007 Associa&ccedil;&atilde;o Brasileira Incentivo. Todos os direitos
                reservados.
            </p>
        </div>
        
    </div>

</body>
</html>