{% extends "flatpages/bolsa.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block title %}Bolsa de Estudos Incentivo{% endblock %}

{% block content %}
<h2>Requerimento do Participante</h2>

<!--
<div class="caution">
O formulário está actualmente em manutenção. Volte em 5 de Maio.
</div>
-->

<div>
<span>Parab&#233;ns!</span>
Voc&#234; est&#225; dando in&#237;cio a um processo importante. Est&#225; em busca de uma bolsa para... educar-se melhor&#8230;encontrar um emprego melhor&#8230;poder servir melhor no seu lar, na comunidade e na Igreja. Preencha o requerimento cuidadosamente e com calma. Pense a respeito de cada uma das perguntas dando-lhes a devida aten&#231;&#227;o. Este formul&#225;rio ser&#225; analisado com muito cuidado e o recebimento da bolsa de estudo &#233; completamente ligado ao esfor&#231;o e dedica&#231;&#227;o que voc&#234; d&#225; ao preenchimento do formul&#225;rio. Este requerimento pode ser o pr&#243;ximo passo em dire&#231;&#227;o a grandes oportunidades! 
</div>

<h3>ATEN&#199;&#195;O</h3>
<h4>Antes de preencher o formul&#225;rio voc&#234; deve ter as seguintes informa&#231;&#245;es em m&#227;o:</h4>
<ul>
  <li>N&#250;mero de telefone residencial (Caso n&#227;o tenha um telefone em casa, por favor informar o telefone de um vizinho)</li>
  <li>Uma conta de E-mail ativa (Se n&#227;o tiver uma conta de email crie sua conta de <a href="https://edit.yahoo.com/registration?.intl=us&new=1"Yahoo!</a> ou <a href="https://www.google.com/accounts/NewAccount?service=mail">Gmail</a>)</li>
  <li>Seu endere&ccedil;o residencial</li>
  <li>Nome/E-mail/n&#250;mero de telefone de um parente/amigo que n&#227;o mora com voc&#234; e que saber&#225; do seu paradeiro</li>
  <li>Data de conclus&#227;o e nome do professor dos cursos CASP e Planejar para o Sucesso</li>
  <li>Nome do estabelecimento de ensino, valor do curso, data em que o curso come&#231;a (esta data deve estar entre os pr&#243;ximos 75-90 dias) e se for poss&#237;vel o link ao site do curso (por exemplo: http://www3.unip.br/ensino/graduacao/tecnologicos/gestao_empreendedora.aspx)</li>
  <li>Nome/N&#250;mero de telefone do bispo/presidente de ramo</li>
</ul>
<h4>Relembramos que os canditados devem ter a capacidade de pagar pelo menos 50% do valor da matr&#237;cula.</h4>

<h3>A Incentivo N&#195;O oferece bolsas para:</h3>
<ul>
  <li>D&#237;vidas j&#225; acumuladas de cursos j&#225; come&#231;ados (n&#227;o oferecemos bolsas retroativas)</li>
  <li>Cursos com a dura&#231;&#227;o de MAIS do que 24 meses</li>
  <li>Curso de p&#243;s-gradua&#231;&#227;o/mestrado</li>
  <li>Cursos para estudos no exterior</li>
</ul>

<form action="." method="post">
  <input type="submit" id="start_application" value="Prosiga com formul&#225;rio" />
</form>

{% endblock %}
