@import "modified.css";

.button-download {
    background:#487858 none repeat-x scroll 0% 0%;
    display:block;
}

.button-download a {
    color:#FFE761;
    display:block;
    height:18px;
    padding:6px 12px;
    white-space:nowrap;
    font-weight: bold;
}
