{% extends "flatpages/program.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block sidebartitle %}Bolsas{% endblock %}

{% block faquri %}/faq/bolsa-de-estudo/{% endblock %}

{% block sidebarcontent %}
<p>
Nosso programa de Bolsa de Estudo tem ajudado várias pessoas, em todo o Brasil, a encontrarem oportunidades de desenvolver seus talentos.
</p>
{% endblock %}

{% block sidebarlinks %}
<h2>Programas da Incentivo</h2>
<ul>
<li><a href="/bolsa-de-estudo/">Bolsas de Estudo</a></li>
<li><a href="/financas-pessoais/">Finan&ccedil;as Pessoais</a></li>
<li><a href="/preparacao-para-mba/">Prepara&ccedil;&atilde;o para MBA</a></li>
</ul>
{% endblock %}

{% block sidebarafter %}
<div>Clique aqui para acessar o formulario:</div>
<div class="button-download"><a href="/bolsa-de-estudo/apply/">Preencher Formulário</a></div>
{% endblock %}
