{% extends "flatpages/program.html" %}

{% block page %}bolsa-de-estudo{% endblock %}

{% block sidebartitle %}Bolsas de Estudo{% endblock %}

{% block faquri %}/faq/bolsa-de-estudo/{% endblock %}

{% block sidebarcontent %}
<p>
Nosso programa de Bolsa de Estudo tem ajudado várias pessoas, em todo o Brasil, a encontrarem oportunidades de desenvolver seus talentos.
</p>
{% endblock %}

{% block sidebarafter %}
<div>Clique aqui para acessar o formulario:</div>
<div class="button-download"><a href="/bolsa-de-estudo/apply/">Preencher Formulário</a></div>
{% endblock %}
