{% extends "flatpages/program.html" %}

{% block faquri %}/financas-pessoais/faq/{% endblock %}

{% block sidebartitle %}Finan&ccedil;as Pessoais{% endblock %}

{% block sidebarcontent %}{% endblock %}

{% block sidebarafter %}
<ul>
	<li><a href="/financas-pessoais/calendar/">Calendario</a></li>
	<li><a href="/financas-pessoais/#Recursos-aos-Alunos">Recursos aos Alunos</a></li>
	<li><a href="/financas-pessoais/#Recursos-aos-Instructores">Recursos aos Instructores</a></li>
	<li><a href="/financas-pessoais/#links">Links</a></li>
</ul>
{% endblock %}
