{% extends "flatpages/program.html" %}

{% block page %}mba{% endblock %}

{% block sidebartitle %}Prepara&ccedil;&atilde;o para MBA{% endblock %}

{% block faquri %}/preparacao-para-mba/faq/{% endblock %}

{% block sidebarcontent %}
Auxiliamos as pessoas que est&atilde;o se preparando para estudar o MBA na BYU.
{% endblock %}

{% block sidebarlinks %}
<ul>
<li><a href="/preparacao-para-mba/">MBA na BYU</a></li>
<li><a href="/preparacao-para-mba/faq/">Perguntas Frequentes</a></li>
<li><a href="/preparacao-para-mba/links/">Links Adicionais</a></li>
<li><a href="/preparacao-para-mba/download/">Download de Materiais</a></li>
<li><a href="/preparacao-para-mba/dicas/">Dicas R&aacute;pidas</a></li>
<li><a href="/preparacao-para-mba/profiles/">Brazil Profiles</a></li>
<li><a href="/preparacao-para-mba/events/">Eventos</a></li>
</ul>
{% endblock %}
